<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6966a140fa.js" crossorigin="anonymous"></script>
</head>
<body><div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
    <div class="card" style="border-style:none">
        <div class="card-body p-0 bg-secondary">
          <h5 class="card-title font-weight-bold mb-0 pb-1 pl-1" style="background-color: lightblue"> George</h5>
          <h5 class="card-title font-weight-bold bg-mt-0 pb-2 pl-1" style="background-color: lightblue"><i class="fas fa-glasses"></i> Engineer</h5>
          <table class="table d-flex justify-content-center">
            <tbody>
              <tr>
                <td scope="row" style="background-color: white;">ID: George</td>
              </tr>
              <tr>
                <td scope="row" style="background-color: white;">Email: George@george.net</td>
              </tr>
              <tr>
                <td scope="row" style="background-color: white;">Github: GeorgieBoy</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
</body>
</html>